<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Upload de Arquivos</h2>
    <form action="/diretorio" method="POST" enctype="multipart/form-data">
    <p>
        <input type="file" id="meuArquivo" name="meuArquivo" required>
    </p>
    <p>
        <button type="submit">Enviar</button>
    </p>
    </form>

    <h2>Arquivos disponíveis Download</h2>
        {% if arquivos %}
            {%for arquivo in arquivos %}
                <div>
                    <span>{{ arquivo }}</span>
                </div>
                <a href="{{url_for('download', filename=arquivo)}}">Download</a>
            {% endfor %}
        {% else %}
                <p>Nenhum arquivo disponivel</p>
        {% endif %}
</body>
</html>