<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Consultas</title>
    <link href="{{ url_for('static', filename='estilo.css') }}" rel="stylesheet"></head>
<body>
    <h1>Cadastro de Consultas</h1>
    <fieldset>
        <form method="post" action="">
            <div>
                <label>Nome do Paciente:</label>
                <input type="text" name="nome_paciente">
            </div>
            <div>
                <label>Nome do Medico:</label>
                <input type="text" name="nome_medico">
            </div>
            <div>
                <label>Especialidade:</label>
                <input type="text" name="especialidade">
            </div>
            <div>
                <label>Data da consulta:</label>
                <input type="date" name="data_consulta">
            </div>
            <div>
                <input type="submit" value="Enviar">
            </div>
        </form>
    </fieldset>
</body>
</html>